@charset "UTF-8";

$white:									#ffffff;
$black:									#000000;
$primary-font-color:		#3c3e3f;
$secondary-font-color:	#a0a7ab;
$primary-color: 				#009e82;
$secondary-color: 			#000000;
$action-color:					#ff8100;
$disabled-color:				#a0a7ab;
$message:								#ffedc6;
$warning:								#ec2302;

/// Import all imports
@import "_base/_imports";