@charset "UTF-8";
////
/// @group Hip CSS
////

/// background-color for list-line--table
/// @require {$white} $white - Makes the white color 2 percent darker
$list-line--table:               darken($white, 2%);

/// border-color for filter__btn--active
/// @require {$primary-font-color} $primary-font-color
$filter__btn--active:            $primary-font-color;

/// border-color for filter__btn--active
/// @require {$white} $white - Makes the white color 2 percent darker
$filter__btn--inactive:          #f0f0f0;

/// border-color for filter__btn--active
/// @require {$white} $white - Makes the white color 2 percent darker
$label-font-color:               #3c3e3f;



.container {
    float: left;
    margin-bottom: 1em;
    width: 100%;
}



// .list-line
.list-line {
  background-color: white;
  /// @todo Fix to global colors
  //border-bottom: 1px solid #dadada;
  /// @todo Fix to global colors
  //border-left: 1px solid #f0f0f0;
  float: left;
  min-height: 2em;
  padding: 1em;
  width: 100%;
  /// @todo Fix to global colors
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;

  // &:first-of-type {
  //   border-bottom: 1px solid $list-line--table;
  // }

  &:last-of-type {
    border-bottom: 1px solid #f0f0f0;
  }
}

.list-line.list-line--filter {
  min-height: 4.75em;
  margin-bottom: rem(double($gel-spacing-unit));
}

.list-line.list-line--table {
  &:nth-child(odd) {
    background-color: $list-line--table;
  }
}

.list-line.list-line--total {
    background-color: transparent;
    border: none;
    color: #000;
    @include open-sans(700);
    padding-top: 0;
}

.list-line.list-line--table, 
.list-line.list-line--table-header {
	
  display: table-row;
  font-size: 14px;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
}

.list-line.list-line--header, 
.list-line.list-line--table-header {
  min-height: 2.75em;
  padding-bottom: 0;
  @include mq($until: tablet) {
  	display: none;
  }
}

// .list-line__item
.list-line__item::after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}

.list-line.list-line--table .list-line__item,
.list-line.list-line--table-header .list-line__item {
	@include mq($from: tablet) {
    display: table-cell;
  }
}

.list-line__item {
  min-height: 0.5em;
  word-wrap: break-word;

  &::before {
  	font-size: $extra-small-font-size;
		//font-weight: 700;
		text-transform: uppercase;
		margin-bottom: rem(-16px);
		display: block;
	}

	@include mq($from: tablet) {
    float: left;
    padding-right: 0.5em;
    position: relative;
  }
}

.list-line__item.list-line__item--invoice-number {

	@include mq($until: tablet) {
		&::before {
			content: "factuur­nr.";
		}
  }

  @include mq($from: tablet) {
    width: 12%;
  }
}

.list-line__item.list-line__item--invoice-type {
	@include mq($until: tablet) {
		&::before {
			content: "soort";
		}
  }
	@include mq($from: tablet) {
    width: 18%;
  }
}

.list-line__item.list-line__item--invoice-date {
	@include mq($until: tablet) {
		&::before {
			content: "Factuur­datum";
		}
  }
	@include mq($from: tablet) {
    width: 14%;
  }
}

.list-line__item.list-line__item--invoice-from-till {
  @include mq($until: tablet) {
		&::before {
			content: "Periode van/tot";
		}
  }
	@include mq($from: tablet) {
    width: 23%;
  }
}

.list-line__item.list-line__item--invoice-premium {
    
  @include mq($until: tablet) {
		&::before {
			content: "Bedrag";
		}
  }
	@include mq($from: tablet) {
    width: 15%;
  }
}

.list-line__item.list-line__item--invoice-premium-open {
    
  @include mq($until: tablet) {
		&::before {
			content: "Openstaand";
		}
  }
	@include mq($from: tablet) {
    width: 15%;
  }

}

.list-line__item.list-line__item--invoice-menu {
    width: 3%;
    text-align: right;
}




.list-line__item.list-line__item--claim-number {
  @include mq($until: tablet) {
    &::before {
      content: "Schadenr.";
    }
  }
  @include mq($from: tablet) {
    width: 8em;
  }
}

.list-line__item.list-line__item--claim-polis {
  @include mq($until: tablet) {
    &::before {
      content: "Polis";
    }
  }
  @include mq($from: tablet) {
    width: calc(100% - 32em);
  }
}

.list-line__item.list-line__item--claim-date {
  @include mq($until: tablet) {
    &::before {
      content: "Schade­datum";
    }
  }
  @include mq($from: tablet) {
    width: 8em;
  }
}
.list-line__item.list-line__item--claim-paid {
  @include mq($until: tablet) {
    &::before {
      content: "Uitbetaald";
    }
  }
  @include mq($from: tablet) {
    width: 8em;
  }
}
.list-line__item.list-line__item--claim-status {
  @include mq($until: tablet) {
    &::before {
      content: "Status";
    }
  }
  @include mq($from: tablet) {
    width: 8em;
  }
}


.list-line__item.list-line__item--label-products {
    @include mq($from: tablet) {
      width: calc(60% - 10em);
    }
}
.list-line__item.list-line__item--premium-products {
  padding-right: 0;
  width: 7em;
  float: right;
  text-align: right;
}
.list-line__item.list-line__item--menu-products {
    float: right;
    padding-right: 0;
    position: relative;
    width: 2em;
    text-align: right;
}
.list-line__item.list-line__item--action-products {
    display: none;
    padding-right: 0;
    text-align: right;
    //text-transform: uppercase;

    @include mq($from: tablet) {
      display: inline-block;
      width: calc(40% - 7em);
      float: right;
    }
}
.list-line__item.list-line__item--state-products {
    //float: right;
    padding-left: 0.1em;
    padding-right: 0;
    text-align: center;
    width: 8em;
}


.list-line__label {
  a {
    @include open-sans(700);
    color: $label-font-color;
  }
}

// .label
.label {
    color: #000;
    font-size: $extra-small-font-size;
    //letter-spacing: 0.0625em;
    margin: 0 0 0.5em;
    text-transform: uppercase;
}
.label, .label-checkbox {
    display: block;
}


// .filter

.filter {
  @include mq($from: tablet) {
    display: inline-block; 
  }
  
  &__btn {
    background: transparent none repeat scroll 0 0;
    border: 1px solid $filter__btn--inactive;
    border-radius: rem(halve($gel-spacing-unit));
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 1em;
    text-transform: uppercase;

    @include mq($until: tablet) {
      width: 100%;
    }

    &:first-child {
        margin-left: 0;
    }
  }

  &__report-damage {
    @include mq($until: tablet) {
      width: 100%;
    }
    @include mq($from: tablet) {
      float: right;
    }
  }
}


.filter__btn.filter__btn--active {

		/// @todo Fix to global colors
    border: 1px solid $filter__btn--active;
    /// @todo Fix to global colors
    color: $filter__btn--active;
    cursor: default;
}

.filter__btn.filter__btn--active .filter__text {
	/// @todo Fix to global colors
  color: #535353;
}

.filter__text {
	/// @todo Fix to global colors
    color: #a8a8a8;
    /// @todo Fix font weight
    @include open-sans(700);
}

.filter__count {
	/// @todo Fix to global colors
    color: #a8a8a8;
    /// @todo Fix font weight
    @include open-sans(400);
}

.filter__report-damage {
  @include open-sans(600);
}

.rubric {
  &__title {
    color: $secondary-font-color;
    font-size: 0.8em;
    @include open-sans(700);
    text-transform: uppercase;
    display: inline-block;
  }

  & + .list-line.list-line--total {
    margin-top: 1em;
  }
}

.state {
  border: 1px solid #d3d3d3;
  border-radius: 0.25em;
  color: #626262;
  display: inline;
  font-size: 11px;
  max-width: 10em;
  padding: 0.25em 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;

  &--dekkingopschorting {}
}