////
/// @author Michel van der Wereld
////

@charset "UTF-8";

/// CONFIG

/// Sets basic of susy grid framework
$susy: (
  //debug: (image: show-columns),
  columns: 12, 
  container: 1400px,
  gutters: 0.25,
  global-box-sizing: border-box,
  math: fluid
);

/// Turn on SASS-MQ
$mq-responsive: true;

/// Breakpoints
/// Name your breakpoints in a way that creates a ubiquitous language across team members. It will improve communication between stakeholders, designers, developers, and testers.
$mq-breakpoints: (
  mobile: 320px,
  mobileLandscape: 480px,
  tablet: 768px,
  desktop: 980px,
  wide: 1300px,
  extraWide: 1500px  
);

/// Show Breakpoints
/// If you want to display the currently active breakpoint in the top right corner of your site during development, add the breakpoints to this list, ordered by width, e.g. (mobile, tablet, desktop).
$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);

/// Set the hightdensity variable. Handy for checking if a higher density. 
$mq_highdensity:  "(-webkit-min-device-pixel-ratio: 1.5)",
                  "( min-device-pixel-ratio: 1.5)",
                  "( min-resolution: 144dpi)",
                  "( min-resolution: 1.5dppx)";