@charset "UTF-8";

/// COLORS
$white:									#ffffff;
$black:									#000000;
$primary-font-color:		green;
$secondary-font-color:	grey;
$primary-color: 				orange;
$secondary-color: 			lightblue;
$warning:								red;