@charset "UTF-8";

/// COLORS
$white:						#ffffff;
$vista-white:			#fdfafa;
$mischka:					#e7e6ea;
$cape-cod:				#3c3e3f;
$gray_chateau:		#a0a7ab;
$geyser:					#dbe0e3;
$hs-green: 				#009e82;
$persian-green:		#00aa90;
$downy:						#70cfc0;
$scarlet:					#ec2302;