////
/// @author Michel van der Wereld
////

@charset "UTF-8";

/// Default color white
$white:									#ffffff;
/// Default color black
$black:									#000000;
/// Default Primary font color
$primary-font-color:		#3c3e3f;
/// Default Secondary font color
$secondary-font-color:	#a0a7ab;
/// Default Primary color
$primary-color: 				#009e82;
/// Default Secondary color
$secondary-color: 			#000000;
/// Default Tertiary color
$tertiary-color:				#ff8100;
/// Default Warning color
$warning:								#ec2302;