@charset "UTF-8";



/// Test Comment Sassdoc 1
/// @author Michel van der Wereld
/// @example
///   4 + 2 = 8
///   4 / 2 = 2
///
/// @example scss - Clamp function
///   clamp(42, $min: 13, $max: 37)
///   // 37
/// @link http://some.url
/// @link http://some.url Optional caption
/// @output Description
/// @param {type} $name
/// @param {type | othertype} $name
/// @param {type} $name - description
/// @param {type} $name [default value] - description
@mixin open-sans($weight: 400){
	// pls choose 400 or 700
	font-family: "Open Sans",sans-serif;
	font-weight: $weight;
  font-style: normal;
  font-variant: normal;
}


