@charset "UTF-8";

// Clear fix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Open Sans Font
@mixin open-sans($weight: 400){
	// pls choose 400 or 700
	font-family: "Open Sans",sans-serif;
	font-weight: $weight;
  font-style: normal;
  font-variant: normal;
}