////
/// @author Michel van der Wereld
////

// Import fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

// Font weights
$regular: 400;
$semi-bold: 600;
$bold: 700;

// CONFIG
$extra-small-font-size: 	rem(10px);
$small-font-size: 				rem(11px);
$base-font-size: 					rem(16px); //1rem
$base-line-height: 				rem(32px); //2rem
$base-font-color: 				$primary-font-color;
$large-font-size:					rem(20px);
$extra-large-font-size:		rem(24px);

$h1-font-size: 						rem(38px);
$h2-font-size: 						rem(30px);
$h3-font-size: 						rem(24px);
$h4-font-size: 						rem(20px);
$h5-font-size: 						rem(18px);

$link-font-color: 				lighten($primary-color, 7%);
$link-font-hover-color: 	darken($primary-color, 10%);

// BASE
html{
  color: $base-font-color;

	@include open-sans();
	line-height: $base-line-height;
	font-size: $base-font-size;
	text-rendering: optimizeLegibility;
}

// HEADING
.h1, .h2, .h3, .h4, .h5{
	display: inline-block;
	padding: 0;
}
.h1, .h2 {
	line-height: 1.1;
	margin: 1rem 0;
}
.h3, .h4, .h5 {
	line-height: 1.3;
	margin: 0.5rem 0;
}
.h1 { font-size: $h1-font-size; letter-spacing: -2px; }
.h2 { font-size: $h2-font-size; letter-spacing: -1px; }
.h3 { font-size: $h3-font-size; }
.h4 { font-size: $h4-font-size; }
.h5 { font-size: $h5-font-size; }

// LINKS
a {
	text-decoration: underline;
	color: $link-font-color;

	&:hover {
		color: $link-font-hover-color;
	}
}


