////
/// @author Michel van der Wereld
////

/// Z-index Leveling
$z-index: (
  popup: 500,
  overlay: 400,
  navigation: 300,
  footer: 200,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}
