// Box - margin, padding, display, etc.
// Border & Background - border, border-radius, background-color, etc.
// Text - color, font-size, text-transform, etc.
// Other stuff - animations, transforms, etc.

@charset "UTF-8";

/// LAYOUT BASE

// CONFIG

// BASE
html{
	min-height: 100%;
	overflow-y: scroll;

  color: $cape-cod;

	@include open-sans();
	line-height: 1.6rem;
	font-size: 1rem;
}

.l-wrapper {
	@include container;
}

.l-layout {
	padding: 0 rem(double($gel-spacing-unit));
	margin: 0;

	&__item {
		display: inline-block;
		@include span(12);
		vertical-align: top;
	}
}

.l-hide-tablet-and-up {
	@include mq($from: tablet) {
		display: none;
	}
}

.l-mb {
	margin-bottom: rem($gel-spacing-unit);
}

// STATES
//@import "../_states/_s-buttons";