@charset "UTF-8";

html, .l-page-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.l-page-body {
	background-color: darken($white, 1%);
}

.l-page {
	flex: 1 0 auto;
	width: 100%;
}

.l-main {
	width: 100%;
	margin-bottom: rem(double($gel-spacing-unit));
}

.l-wrapper {
	@include container;
}

.l-layout {
	padding: 0 rem(double($gel-spacing-unit));
	@include clearfix;
	
	&--full{
		width: 100%;
	}

	&__item {
		display: inline-block;
	}
}

.l-hide-tablet-and-up {
	@include mq($from: tablet) {
		display: none;
	}
}

// MARGIN
.l-mt {
	margin-top: rem($gel-spacing-unit);

	&--double {
		margin-top: rem(double($gel-spacing-unit));
	}
}

.l-mb {
	margin-bottom: rem($gel-spacing-unit);

	&--double {
		margin-bottom: rem(double($gel-spacing-unit));
	}
}

.l-mtb {
	margin-top: rem($gel-spacing-unit);
	margin-bottom: rem($gel-spacing-unit);
	
	&--double {
		margin-top: rem(double($gel-spacing-unit));
		margin-bottom: rem(double($gel-spacing-unit));
	}
}

// PADDING
.l-pt {
	padding-top: rem($gel-spacing-unit);

	&--double {
		padding-top: rem(double($gel-spacing-unit));
	}
}

.l-pb {
	padding-bottom: rem($gel-spacing-unit);

	&--double {
		padding-bottom: rem(double($gel-spacing-unit));
	}
}

.l-ptb {
	padding-top: rem($gel-spacing-unit);
	padding-bottom: rem($gel-spacing-unit);
	
	&--double {
		padding-top: rem(double($gel-spacing-unit));
		padding-bottom: rem(double($gel-spacing-unit));
	}
}
