@charset "UTF-8";
////
/// @group Module Button
////

/// Module button
$module: 												'button';

/// Primary button-font-color
/// @require {$secondary-font-color} $secondary-font-color
$button-font-color--primary:								$white;
/// Primary button-background-color
/// @require {$black} $black - Adds 95percent opacity to black
$button-background-color--primary:					$primary-color;
/// Primary button-background-color--hover
/// @require {$primary-color} $primary-color - Adds 5percent darken to primary-color
$button-background-color--primary--hover:		darken($primary-color, 5%);
/// Primary button-border-color
/// @require {$primary-color} $primary-color - Add 20 percent light to font color
$button-border-color--primary:							$primary-color;

/// Secondary button-font-color
/// @require {$secondary-font-color} $secondary-font-color
$button-font-color--secondary:							$secondary-font-color;
/// Secondary button-background-color
$button-background-color--secondary:				transparent;
/// Secondary button-background-color--hover
/// @require {$secondary-font-color} $secondary-font-color - Adds 90percent opacity to secondary-font-color
$button-background-color--secondary--hover:	rgba($secondary-font-color, 0.1);
/// Secondary border-color
/// @require {$secondary-font-color} $secondary-font-color
/// @require {$white} $white 
$button-border-color--secondary:						mix($secondary-font-color, $white);

/// Tertiary button-font-color
/// @require {$white} $white
$button-font-color--tertiary:								$white;
/// Tertiary button-background-color
$button-background-color--tertiary:					transparent;
/// Tertiary button-background-color--hover
/// @require {$black} $black - Adds 95percent opacity to black
$button-background-color--tertiary--hover:	rgba($black, 0.05);
/// Tertiary border-color
/// @require {$white} $white 
$button-border-color--tertiary:							$white;

/// Action button-font-color
/// @require {$white} $white
$button-font-color--action:									$white;
/// Action button-background-color
/// @require {$action-color} $action-color
$button-background-color--action:						$action-color;
/// Action button-background-color--hover
/// @require {$action-color} $action-color - Adds 5percent darken to action-color
$button-background-color--action--hover:		darken($action-color, 5%);
/// Action button-border-color
/// @require {$action-color} $action-color
$button-border-color--action:								$action-color;

.m-#{$module} {
	display: inline-block;
	padding: rem($gel-spacing-unit) rem(double($gel-spacing-unit));
	width: auto;
	
	border-radius: rem(halve($gel-spacing-unit));
	outline: 0;

	text-decoration: none;
	text-align: center;

	&.-primary {
		border: 1px solid $button-border-color--primary;

		color: $button-font-color--primary;
		background-color: $button-background-color--primary;

		&:hover {
			background-color: $button-background-color--primary--hover;
		}
	}

	&.-secondary {
		border: 1px solid $button-border-color--secondary;

		color: $button-font-color--secondary;
		background-color: $button-background-color--secondary;

		&:hover {
			background-color: $button-background-color--secondary--hover;
		}
	}

	&.-tertiary {
		border: 1px solid $button-border-color--tertiary;

		color: $button-font-color--tertiary;
		background-color: $button-background-color--tertiary;

		&:hover {
			background-color: $button-background-color--tertiary--hover;
		}
	}

	&.-action {
		color: $button-font-color--action;
		background-color: $button-background-color--action;

		&:hover {
			background-color: $button-background-color--action--hover;
		}
	}

	// Size of buttons Medium is default
	&.-s {
		font-size: $small-font-size;
	}

	&.-l {
		font-size: $large-font-size;
		padding: rem($gel-spacing-unit + 4px) rem(double($gel-spacing-unit + 4px));
	}

	&.-xl {
		width: 50%;
	}

	// Width of buttons
	&.-half {
		width: 50%;
	}

	&.-full {
		width: 100%;
	}

	// Margins of buttons
	&.-margin-right {
		margin-right: rem($gel-spacing-unit);
	}

	&.-margin-left {
		margin-left: rem($gel-spacing-unit);
	}

	// Remove dotted outline from clicked links.
	@include remove-outline();
}
 
