// Box - margin, padding, display, etc.
// Border & Background - border, border-radius, background-color, etc.
// Text - color, font-size, text-transform, etc.
// Other stuff - animations, transforms, etc. 

@charset "UTF-8";
 
/// MODULE BUTTON
$module: 												'button';

// CONFIG
$border__color--primary:					lighten($secondary-font-color, 20%);
$border__color--secondary:				mix($primary-color, $white);
$button__fontcolor--primary:			$secondary-font-color;
$button__fontcolor--secondary:		$white;
$button__backgroundcolor--hover:	rgba($black, 0.05);

// BASE
.m-#{$module} {
	display: inline-block;
	padding: rem($gel-spacing-unit) rem($gel-spacing-unit);
	width: auto;
	position: relative;

	border-radius: rem(halve($gel-spacing-unit));

	text-decoration: none;
	text-align: center;

	&.--primary {
		border: 1px solid $border__color--primary;

		color: $button__fontcolor--primary;
	}

	&.--secondary {
		border: 1px solid $border__color--secondary;

		color: $button__fontcolor--secondary;
	}

	&.--half {
		width: 50%;
	}

	&.--full {
		width: 100%;
	}

	&.--margin-right {
		margin-right: rem($gel-spacing-unit);
	}

	&.--margin-left {
		margin-left: rem($gel-spacing-unit);
	}

	&:hover {
		background-color: $button__backgroundcolor--hover;
	}
}
 
// STATES
//@import "../_states/_s-buttons";