@charset "UTF-8";

$module: 'button';

.m-#{$module} {
	display: inline-block;
	padding: rem($gel-spacing-unit) rem(double($gel-spacing-unit));
	width: auto;
	
	border-radius: rem(halve($gel-spacing-unit));
	outline: 0;

	text-decoration: none;
	text-align: center;
	line-height: rem(32px);

	&.-primary {
		border: 1px solid $primary-color;

		color: $white;
		background-color: $primary-color;

		&:hover {
			background-color: darken($primary-color, 5%);
		}
	}

	&.-secondary {
		border: 1px solid mix($secondary-font-color, $white);

		color: $secondary-font-color;
		background-color: transparent;

		&:hover {
			background-color: rgba($secondary-font-color, 0.1);
		}
	}

	&.-tertiary {
		border: 1px solid $white;

		color: $white;
		background-color: transparent;

		&:hover {
			background-color: rgba($black, 0.05);
		}
	}

	&.-action {
		color: $white;
		background-color: $action-color;

		&:hover {
			background-color: darken($action-color, 5%);
		}
	}

	&.-disabled {
		border: 1px solid $disabled-color;
		color: $white;
		background-color: $disabled-color;

	}

	// Size of buttons Medium is default
	&.-s {
		font-size: $small-font-size;
	}

	&.-l {
		font-size: $large-font-size;
		padding: rem($gel-spacing-unit + 4px) rem(double($gel-spacing-unit + 4px));
	}

	&.-xl {
		width: 50%;
	}

	// Font weights
	&.-bold {
		@include open-sans($bold);
	}

	// Width of buttons
	&.-half {
		width: 50%;
	}

	&.-full {
		width: 100%;
	}

	// Margins of buttons
	&.-margin-right {
		margin-right: rem($gel-spacing-unit);
	}

	&.-margin-left {
		margin-left: rem($gel-spacing-unit);
	}

	// Remove dotted outline from clicked links.
	@include remove-outline();
}
 
