@charset "UTF-8";

$module: 'feedback';

// BASE
.m-#{$module} {
	width: 100%;
	text-align: center;

	&__span {
		@include open-sans(600);
		font-size: $extra-large-font-size;
	}

	&__button {
		@include open-sans(700);
		text-transform: uppercase;
	}
}
 
