@charset "UTF-8";
////
/// @group Module Footer
////

/// Module footer
$module:	'footer';

/// Footer background color
/// @require {$white} $white - Makes the white color 6 percent darker
$footer-background:								darken($white, 6%);

/// Footer border color
/// @require {$secondary-font-color} $secondary-font-color
$footer-border:										$secondary-font-color;

/// Footer font color
/// @require {$secondary-font-color} $secondary-font-color
$footer-font:											$secondary-font-color;

// BASE
.m-#{$module} {
	flex: none; /* 2 */
	padding-bottom: rem(48px);
	margin-top: rem(double($gel-spacing-unit));
	display: inline-block;
	width: 100%;

	border-top: 1px solid $footer-border;

	background-color: $footer-background;
	color: $footer-font;
	text-align: center;

	@include mq($from: tablet) { 
		padding-bottom: 0;
	}

	&__name {
		
	}
  
  &__adress {

  }

  &__phonenumber {

  }
}
 
