@charset "UTF-8";

$module:	'footer';

.m-#{$module} {
	flex: none;
	display: inline-block;
	width: 100%;
	padding-bottom: rem(48px + $gel-spacing-unit); // to be visible above mobile menu

	border-top: 1px solid $secondary-font-color;

	background-color: darken($white, 8%);
	color: $secondary-font-color;
	text-align: center;

	@include mq($from: tablet) {
		padding-bottom: 0; 
	}
	@include mq($from: desktop) { 
		
		text-align: left;
	}

	&__name {
		@include open-sans(600);

		@include mq($from: tablet) {
			
			display: inline-block;
			padding-right: rem(triple($gel-spacing-unit));
			padding-top: rem($gel-spacing-unit);
			padding-bottom: rem($gel-spacing-unit);
		}

		@include mq($from: desktop) {
			float: left;
		}

	}

	&__adress, &__phonenumber {
		@include mq($from: tablet) {
			display: inline-block;
			padding-left: rem(triple($gel-spacing-unit));
			padding-right: rem(triple($gel-spacing-unit));
			padding-top: rem($gel-spacing-unit);
			padding-bottom: rem($gel-spacing-unit);
			
			border-left: 2px solid rgba($black, 0.08);
		}

		@include mq($from: desktop) {
			float: left;
		}

	}

	&__phonenumber {

	}

	&__feedback {
		@include mq($from: desktop) {
			float: right;
		}
		@include clearfix();
	}
}
 
