@charset "UTF-8";

$module:	'header';

.m-#{$module} {
	background-color: lighten($primary-color, 2%);
	@include clearfix;

  @include mq($from: tablet) {
  	background-color: transparent;
  	margin: rem(double($gel-spacing-unit)) 0;
  }

  &--mobile {
  	display: flex; 

  	@include mq($from: tablet) {
	  	display: none;
	  }
  }

  &--tablet {
  	display: none;

  	@include mq($from: tablet) {
  		float: right;
	  	display: flex;
	  }
  }

	&__logo {
		display: none;
		
		@include remove-outline();
		
		@include mq($from: tablet) {
			min-height: rem(42px);
			float: left;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;	  
  	}
	}

	&__phonenumber {
		padding: rem($gel-spacing-unit) rem(double($gel-spacing-unit));
		color: $secondary-font-color;
		margin: 1px; //align with other top buttons bacause of their border.
		
		svg {
			vertical-align: middle;
		}

		&__icon {
			fill: $secondary-font-color;
	    vertical-align: middle;
		}
	}
}
