@charset "UTF-8";
 
$module:	'header-image';

.m-#{$module} {
	display: none;
	height: rem(368px);
	width: 100%;
	padding: rem(quadruple($gel-spacing-unit));

	background-image: url("../img/header.png");
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
	background-position: center top;
  background-size: cover;

	@include mq($from: tablet) {
			display: inline-block;
	}

	&.-show {
		display: none;

		@include mq($from: tablet) {
			display: inline-block;
		}
	}
	&.-hide {
		display: none;
	}

	&__title {
		width: 40%;
		margin-bottom: rem(double($gel-spacing-unit));

	  @include open-sans(700);
	  color: $white;
  	font-size: $h2-font-size;
  	text-transform: uppercase;
  	text-shadow: 2px 2px 3px rgba($black, 0.5);
  	line-height: rem(quadruple($gel-spacing-unit));
	}

	&__button {
		@include open-sans(700);
		padding: rem($gel-spacing-unit) rem(double($gel-spacing-unit));
		text-transform: uppercase;
		line-height: rem(quadruple($gel-spacing-unit));
	}

}
