// Box - margin, padding, display, etc.
// Border & Background - border, border-radius, background-color, etc.
// Text - color, font-size, text-transform, etc.
// Other stuff - animations, transforms, etc. 

@charset "UTF-8";

/// Module Header

// Config
$module:	'header';
$header__fontcolor--primary:					$gray_chateau;
$header__backgroundcolor--primary:		$persian-green;
$header__backgroundcolor--secondary:	$white;

// Base
.m-#{$module} {
	background-color: $header__backgroundcolor--primary;
	@include clearfix;

  @include mq($from: tablet) {
  	background-color: $header__backgroundcolor--secondary;
  }

  &--mobile {
  	display: flex; 

  	@include mq($from: tablet) {
	  	display: none;
	  }
  }

  &--tablet {
  	display: none;
  	

  	@include mq($from: tablet) {
  		float: right;
	  	display: flex;
	  }
  }

	&__logo {
		display: none;
		
		@include mq($from: tablet) {
			float: left;
	  	display: flex;
	  }
	}

	&__phonenumber {
		color: $header__fontcolor--primary;
	}


}
 
// States
//@import "../_states/_s-buttons";