////
/// @group Module main
////

@charset "UTF-8";
/// Module main
$module:	'main';

/// Background color of main 
/// @require {$white} $white - Makes white 1 percent darken
$main-background-color:								darken($white, 1%);

// BASE
.m-#{$module} {
	//background-color: red; to check the bug to footer
	width: 100%;
}
 
