////
/// @group Module Header
////

@charset "UTF-8";
/// Module main
$module:	'main';

/// Background color of main 
/// @require {$white} $white - Makes white 1 percent darken
$main-background-color:								darken($white, 1%);

// BASE
.m-#{$module} {
	background-color: $main-background-color;
	display: inline-block;
	width: 100%;
}
 
