@charset "UTF-8";

$module:	'message';

.m-#{$module} {
	background-color: lighten($action-color, 40%);
	color: $primary-font-color;
	@include open-sans(700);
	padding: rem($gel-spacing-unit) 0;

	&__text {
		display: inline;
	}

	&__link {
		@include open-sans(700);
		color: $primary-font-color;

		&:hover {
			color: darken($primary-font-color, 30%);
		}
	}

	&__icon {
		display: inline;
		margin-right: rem($gel-spacing-unit);

		svg {
			vertical-align: middle;
		}
	}
}

 