// Box - margin, padding, display, etc.
// Border & Background - border, border-radius, background-color, etc.
// Text - color, font-size, text-transform, etc.
// Other stuff - animations, transforms, etc. 

@charset "UTF-8";

/// MODULE NAV

// CONFIG
$module:	'nav';

$nav__fontcolor--primary:					$gray_chateau;
$nav__fontcolor--secondary:				$downy;
$nav__backgroundcolor--primary:   $alabaster;
$nav__bordercolor--primary:       $gray_chateau;
$nav__backgroundcolor--secondary:	$hs-green;
$nav-damage-backgroundcolor:      $scarlet;
$nav-damage-fontcolor:            $white;

// BASE
.m-#{$module} {
  z-index: map-get($z-index, navigation);

  &.--mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    height: rem(48px);
    width: 100%;

    border-top: 1px solid $nav__bordercolor--primary;

    background-color: $nav__backgroundcolor--primary;
    
    @include mq($from: tablet) {
      display: none;
    }
  }

  &.--tablet {
    display: none;
    @include mq($from: tablet) {
      display: block;
    }
  }

  &__item {
    
    &.--mobile {
      width: 20%;
      height: rem(48px);
      display: block;
      float: left;

      text-align: center;
    }

    &.--tablet {}
  }

  &__link {

    &.--mobile {
      position: relative;
      width: 100%;
      height: rem(48px);
      display: block;

      text-align: center;
      font-size: $small-font-size;
      color: $nav__fontcolor--primary;
    }
  }

  &__icon {
   

    &.--mobile {
      width: 100%;
      height: 20px;
      display: block;
      //float: left;
          margin: 0;
    padding: 0;
      
      &.--products {
        background-color: red;
      }
    }
    
  }

  &__text {
    display: block;
    margin: 0;
    padding: 0;

    line-height: 0.4rem;
  }

  &__damage-counter {
    position: absolute;
    top: -6px;
    right: -15px;
    width: 15px;
    height: 15px;

    border-radius: 50%;

    line-height: 0.9rem;    
    background-color: $nav-damage-backgroundcolor;
    color: $nav-damage-fontcolor;
  }
}
 
// STATES
//@import "../_states/_s-buttons";