// Box - margin, padding, display, etc.
// Border & Background - border, border-radius, background-color, etc.
// Text - color, font-size, text-transform, etc.
// Other stuff - animations, transforms, etc. 

@charset "UTF-8";

/// MODULE NAV
$module:  'nav';

// CONFIG
$mobile-background:               darken($white, 2%);
$mobile-border:                   $secondary-font-color;
$mobile-link:                     $secondary-font-color;
$mobile-link--hover:              lighten($primary-color, 10%);
$mobile-damage:                   $warning;
$mobile-damage-text:              $white;

$tablet-background:               $primary-color;
$tablet-border:                   rgba($black, 0.08);
$tablet-item--hover:              rgba($black, 0.18);
$tablet-item--active:             rgba($black, 0.08);
$tablet-link:                     $white;
$tablet-profile-image-border:     $white;
$tablet-damage:                   $white;
$tablet-damage-text:              $primary-color;

// BASE
.m-#{$module} {
  z-index: map-get($z-index, navigation);
  @include clearfix;
  
  &.-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    height: rem(48px);
    width: 100%;

    border-top: 1px solid $mobile-border;

    background-color: $mobile-background;
    
    @include mq($from: tablet) {
      display: none;
    }
  }

  &.-tablet {
    display: none;
    @include mq($from: tablet) {
      display: block;

      background-color: $tablet-background;
    }
  }
  
  &__ul {
    list-style-type: none;
  }

  &__right {
    float: right;
  }

  &__item {

    &.-mobile {
      width: 20%;
      height: rem(48px);
      display: block;
      float: left;

      text-align: center;
    }

    &.-tablet {
      display: block;
      float: left;

      list-style-type: none;
      
      @include mq($from: desktop) {
        &:first-child{
          & > .m-nav__link{
            @include img-retina-svg('../img/icons/home', 'png', 20px, 20px, no-repeat, 16px 50%);
            padding-left: rem(48px);
          }
        }
      }
    }
  }

  &__link {

    &.-mobile {
      width: 100%;
      height: rem(48px);
      display: block;

      text-align: center;
      text-decoration: none;
      font-size: $small-font-size;
      color: $mobile-link;

      &:hover, &.-active{
        color: $mobile-link--hover;
      }
    }

    &.-tablet {
      display: inline-block;
      position: relative;
      padding: rem(double($gel-spacing-unit));

      border-right: 1px solid $tablet-border;

      color: $tablet-link;
      text-decoration: none;
      @include open-sans(600);
      
      &:hover, &:active, &:focus {
        outline: 0;
      }
      
      &:hover{
        background-color: $tablet-item--hover;
      }
      
      &.-active{
        background-color: $tablet-item--active;
      }

      &.-data {
        float: left;
        padding: rem($gel-spacing-unit) rem(double($gel-spacing-unit)); // fix the padding or the rest will break
      }

      &.-cart {
        position: relative;
        float: left;
        width: calc(#{ rem(quadruple($gel-spacing-unit)) } + #{ rem(quadruple($gel-spacing-unit)) });

        border: none;
        @include img-retina-svg('../img/icons/basket', 'png', 24px, 24px);
        
        text-align: right;
      }
    }
  }

  &__icon {
   
    &.-mobile {
      position: relative;
      width: 20px;
      height: 20px;
      display: block;
      margin: rem(8px) auto 0;
      
      &.-products {
        @include img-retina-svg('../img/icons/products', 'png', 20px, 20px);
      }
      &.-data {
        @include img-retina-svg('../img/icons/products', 'png', 20px, 20px);
      }
      &.-damage {
        @include img-retina-svg('../img/icons/products', 'png', 20px, 20px);
      }
      &.-payments {
        @include img-retina-svg('../img/icons/products', 'png', 20px, 20px);
      }
      &.-contact {
        @include img-retina-svg('../img/icons/products', 'png', 20px, 20px);
      }
    }
    
  }

  &__text {
    display: block;
    margin: 0;
    padding: 0;

    line-height: 1rem;
  }

  &__profile-picture {
    height: 48px;
    width: 48px;
    margin-left: rem($gel-spacing-unit);

    border: rem(quarter($gel-spacing-unit)) solid $tablet-profile-image-border;
    border-radius: 50%;

    vertical-align: middle;
  }

  &__cart--counter {
    display: inline-block;
    top: 5px;
    right: 10px;
    width: 15px;
    height: 15px;
    margin-right: -5px;

    border-radius: 50%;
    
    vertical-align: top;
    text-align: center;
    font-size: $small-font-size;
    line-height: 0.9rem;    
    background-color: $tablet-damage;
    color: $tablet-damage-text;
  }

  &__damage-counter--mobile {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 15px;
    height: 15px;

    border-radius: 50%;

    line-height: 0.9rem;    
    background-color: $mobile-damage;
    color: $mobile-damage-text;
  }

  &__damage-counter--tablet {
    display: inline-block;
    top: 5px;
    right: 10px;
    width: 15px;
    height: 15px;

    border-radius: 50%;
    
    vertical-align: top;
    text-align: center;
    font-size: $small-font-size;
    line-height: 0.9rem;    
    background-color: $tablet-damage;
    color: $tablet-damage-text;
  }
}
 