// Box - margin, padding, display, etc.
// Border & Background - border, border-radius, background-color, etc.
// Text - color, font-size, text-transform, etc.
// Other stuff - animations, transforms, etc. 

@charset "UTF-8";

/// MODULE FOOTER
$module:	'overview-block';

// CONFIG
$main-backgroundcolor:								darken($white, 3%);

// BASE
.m-#{$module} {
	background-color: $main-backgroundcolor;
	display: inline-block;
	width: 100%;

	background-color: red;
	height: 40px;
	&--info {

	}

	&--just-blocks {

	}
}
 