////
/// @author Michel van der Wereld
////

@charset "UTF-8";

/// MODULE FOOTER
$module:	'overview-blocks';

// CONFIG
$main-backgroundcolor:					darken($white, 8%);
$block-background-color:				rgba($black, 0.08);
$link-font-color: 							$primary-font-color;

/// SVG icon background fill color 
/// @require {$secondary-font-color} $secondary-font-color
$link-font-size:								rem(18px);

/// SVG icon background fill color 
/// @require {$primary-font-color} $primary-font-color
$svg-icon-color:							$primary-font-color;

/// SVG icon hover background fill color 
/// @require {$primary-color} $primary-color
$svg-icon-color--hover:				$primary-color;

// BASE
.m-#{$module} {
	background-color: $main-backgroundcolor;
	display: inline-block;
	width: 100%;

	&__with-info, &__just-blocks {
		background-color: $main-backgroundcolor;

			@include mq($until: tablet) { 
				display: none;
			}

		&.-show {
			display: flex;
			flex-wrap: wrap;

			@include mq($until: tablet) { 
				display: none;
			}
		}

		&.-hide {
			display: none;
		}
	}

	&__with-info {
		
		&.-left {
			width: 50%;
		}

		&.-right {
			background-color: $block-background-color;
			width: 50%;
			padding: rem(quadruple($gel-spacing-unit));
		}
		
		&__h2, &__h3, &__address, &__postalcode-city, &__google-maps-link, &__phonenumber, &__email {
			width: 100%;
		}

		&__address, &__postalcode-city, &__google-maps-link, &__phonenumber, &__email {
			@include open-sans(600);
		}

		&__logo {
			margin-right: rem($gel-spacing-unit);
		}

		&__address {
		}

		&__postalcode-city {
		}

		&__google-maps-link {
			margin-bottom: rem(quadruple($gel-spacing-unit));
		}
		
		&__phonenumber {
		}

		&__email {
			margin-bottom: rem(quadruple($gel-spacing-unit));
		}

		.m-overview-blocks__block {
			> .m-overview-blocks__link {
				padding: rem(48px) rem($gel-spacing-unit);
			}
			
			&:nth-child(-n+2) {
				border-bottom: 1px solid $block-background-color;
			}	
		}
	}

	&__just-blocks {
		display: flex;
		flex-wrap: wrap;

		.m-overview-blocks__block {
			> .m-overview-blocks__link {
				padding: rem(64px) rem($gel-spacing-unit);
			}

			&:nth-last-of-type(1){
				border: none;
			}
		}
	}

	&__block {
		display: inline-block;
		text-align: center;
		border-right: 1px solid $block-background-color;
		float: left;
		
		&.-half {
			width: 50%;
		}

		&.-quarter {
			width: 25%;
		}
	}

	&__icon {
		height: rem(80px);

		&__svg {
			fill: $svg-icon-color;
		}
	}

	&__link {
		width: 100%;
		height: 100%;
		display: block;

		color: $link-font-color;

		// Remove dotted outline from clicked links.
		@include remove-outline();
	}

	&__title {
		margin: rem(double($gel-spacing-unit)) 0 0 0;	
		
		color: $link-font-color;
		font-size: $link-font-size;
		@include open-sans(600);
	}
}
 