@charset "UTF-8";

$module:  'user-mobile';

.m-#{$module} {
	background-color: $primary-color;
	@include clearfix;

  @include mq($from: tablet) {
  	display: none;
  }

  &__profile-picture {
  	border-radius: 50%;
	  height: 75px;
    width: 75px;
    border: rem(halve($gel-spacing-unit)) solid $white;

  	&-wrapper{
  		text-align: center;
  		height: 75px;
  		width: 100%;
  		display: inline-block;
  	}
  }

  &__name {
  	color: $white;
  	text-align: center;
  }

  &__download-links {
  	text-align: center;
  }

 	&__download-link {
 		color: mix($primary-color, $white);
  }
}
 
