// Box - margin, padding, display, etc.
// Border & Background - border, border-radius, background-color, etc.
// Text - color, font-size, text-transform, etc.
// Other stuff - animations, transforms, etc. 

@charset "UTF-8";

/// Module Header

// Config
$module:	'user-mobile';

$user-mobile__fontcolor--primary:					$white;
$user-mobile__fontcolor--secondary:				$downy;
$user-mobile__backgroundcolor--primary:		$hs-green;
$user-mobile__bordercolor--primary:				$white;

// Base
.m-#{$module} {
	background-color: $user-mobile__backgroundcolor--primary;
	@include clearfix;

  @include mq($from: tablet) {
  	display: none;
  }

  &__profile-picture {
  	border-radius: 50%;
  	  height: 75px;
	    width: 75px;
	    border: rem(halve($gel-spacing-unit)) solid $user-mobile__bordercolor--primary;

  	&-wrapper{
  		text-align: center;
  		height: 75px;
  		width: 100%;
  		display: inline-block;
  	}
  }

  &__name {
  	color: $user-mobile__fontcolor--primary;
  	text-align: center;
  }

  &__download-links {
  	text-align: center;
  }

 	&__download-link {
 		color: $user-mobile__fontcolor--secondary;
  }
}
 
// States
//@import "../_states/_s-buttons";